.header {
  background-color: #2d3d49;
  position: relative;
  &__stars {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat !important;
    background-size: auto 83%;
    background-position: center center;
  }
  .container {
    padding: 0;
  }
  &__container {
    height: 180px;
    padding: 21px 0 45px 0;
    position: relative;
  }
  &__nav {
    display: none;
  }
  &__section {
    position: relative;
  }
  &__numbers {
    display: none;
  }
}
.phone-button {
  display: block;
  height: 28px;
  width: 28px;
  position: absolute;
  top: 21px;
  right: 19px;
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url('../img/icons/ico-phone.svg') no-repeat center center;
    background-size: 93% 93%;
    transform: rotate(10deg);
  }
  
}

@media all and(min-width: 576px) {
  .header {
    .logo__text span {
      font-size: 14px;
    }
  }
}
@media all and(min-width: 768px) {
  .header {
    position: absolute;
    z-index: 3;
    width: 100%;
    top: 0;
    background-color: transparent;
    .container {
      padding: 0 15px;
    }
    &__background {
      background-color: rgba(255, 255, 255, 0.7);
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat !important;
      background-size: cover;
      background-position: center bottom;
      opacity: 0.6;
    }
    &__container {
      height: 120px;
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
    }
    &__stars {
      display: none;
    }
    .logo {
      display: flex;
      align-items: flex-end;
      position: relative;
      height: 100%;
      &__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 50px;
        span {
          background-color: rgba(255, 255, 255, 0.7);
          padding: 3px 10px;
          padding-left: 115px;
          font-size: 13px;
          letter-spacing: 0.5px;
          white-space: nowrap;
          &:nth-child(2) {
            padding-left: 135px;
          }
        }
      }
      &__link {
        width: 190px;
        transform: translateX(-6px);
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    &__nav {
      display: block;
      position: absolute;
      right: 20px;
      top: 0;
      &-list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
      }
      &-item {
        padding-left: 20px;
      }
      &-link {
        color: #fff;
        font-size: 18px;
        font-family: 'RalewaySemiBold';
        text-decoration: none;
        transition: opacity 0.3s;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    &__numbers {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      height: 100%;
      &-button {
        display: none;
      }
    }
    .number {
      text-align: right;
      &__block {
        &:last-child {
          margin-top: 7px;
        }
      }
      &__title {
        font-size: 14px;
        color: #2d465a;
        display: block;
      }
      &__link {
        font-size: 18px;
        font-family: 'RalewaySemiBold';
        text-decoration: none;
        color: #2d465a;
        line-height: 1em;
        white-space: nowrap;
      }
    }
  }
}
@media all and(min-width: 992px) {
  .header {
    &__nav {
      right: 50px;
      top: 10px;
      &-item {
        padding-left: 35px;
      }
    }
    .number__link {
      font-size: 24px;
    }
    .number__title {
      font-size: 16px;
    }
    &__container {
      height: 150px;
    }
    .logo__text span {
      font-size: 16px;
      padding-left: 185px;
      &:last-child {
        padding-left: 200px;
      }
    }
    .logo__link {
      width: 250px;
    }
  }
}
@media all and(min-width: 1200px) {
  .header {
    &__container {
      height: 160px;
    }
    .logo {
      &__text {
        span {
          padding-left: 250px !important;
        }
      }
      &__link {
        width: 300px;
      }
    }
    &__nav {
      right: 35px;
      top: 15px;
      &-item {
        padding-left: 55px;
      }
    }
    &__numbers {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      height: 100%;
      &-button {
        font-size: 24px;
        border-color: #fff;
        background-color: #f2c680;
        display: inline-block;
        padding: 4px 25px;
        height: auto;
        color: #2d465a;
        &:hover {
          background-color: #dfaa57;
        }
      }
    }
    .number {
      text-align: right;
      padding-top: 7px;
      &__block {
        overflow: hidden;
        &:last-child {
          margin-top: 7px;
        }
      }
      &__title {
        padding-right: 10px;
        display: inline;
      }
    }
  }
}