.home {
  position: relative;
  &__container {
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 15px 0;
  }
  .container {
    padding: 0;
    max-width: 100%;
  }
  &__background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat !important;
    background-size: cover;
    background-position: center top;
  }
  &__title {
    text-align: center;
    display: block;
    transform: translateY(-13px);
    h1 {
      margin: 0;
      font-family: 'RalewaySemiBold';
      line-height: 1em;
      font-size: 28px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-shadow: 0px 0px 0.3em rgba(28,110,164,0.75);
      br {
        display: none;
      }
      span {
        background-color: #ed9c23;
        padding: 0 20px;
        color: #fff;
        line-height: 1.3em;
        &:first-child {
          line-height: 1.5em;
        }
        &:nth-child(2) {
          line-height: 1em;
        }
      }
    }
    .dream {
      font-size: 30px;
      line-height: 1em;
      padding-top: 0.05em;
      color: #fff;
    }
  }
  &__section {
    text-align: center;
  }
  &__discount-text {
    color: #fff;
    font-size: 14px;
    position: relative;
    padding-top: 7px;
    padding-bottom: 3px;
    display: inline-block;
    &:before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      width: 90%;
      height: 2px;
      left: 5%;
      background-image: linear-gradient(90deg, #fff, #fff 40%, transparent 40%, transparent 100%);
      background-size: 42px 100%;
      border: none;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      height: 1px;
      width: 100%;
      left: 0;
      top: 50%;
      background-color: #e4ddd9;
      margin-top: -1px;
    }
    a {
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }
  }
}

@media all and(min-width: 576px) {
  .home {
    &__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        display: inline-block;
        background-color: #ed9c23;
        padding: 10px 20px;
        font-size: 42px;
        text-shadow: 0px 0px 0.7em rgba(0,0,0,0.75);
        span {
          line-height: 1em !important;
          background-color: transparent;
          display: inline;
          padding: 0;
        }
        br {
          display: block;
        }
      }
    }
    .button {
      font-size: 24px;
      height: 65px;
      padding: 0 70px;
    }
    .dream {
      padding: 0;
      transform: translateY(-10px);
      font-size: 40px;
    }
    &__container {
      height: 500px;
    }
    &__discount-text {
      font-size: 16px;
    }
  }
}
@media all and(min-width: 768px) {
  .home {
    padding-top: 120px;
    &__background {
      background-position: center top;
      background-size: 150% auto !important;
    }
    &__title {
      transform: translate(0);
    }
    &__container {
      padding: 25px 0 20px 0;
      height: 580px;
    }
  }
}
@media all and(min-width: 992px) {
  .home {
    padding-top: 150px;
    &__background {
      background-position: center top;
      background-size: 130% auto !important;
    }
  }
}
@media all and(min-width: 1200px) {
  .home {
    padding: 160px 0 265px 0;
    &__background {
      background-position: center center;
      background-size: cover !important;
    }
    &__section {
      padding: 0;
    }
    &__title {
      h1 {
        font-size: 60px;
      }
    }
    .dream {
      font-size: 60px;
    }
    &__container {
      padding: 70px 0 30px 0;
      height: 850px;
    }
    .button {
      font-size: 30px;
      height: 70px;
      padding: 0 75px;
    }
    &__discount-text {
      font-size: 28px;
      padding-bottom: 6px;
      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        width: 92%;
        height: 4px;
        left: 4%;
        background-image: linear-gradient(90deg, #fff, #fff 60%, transparent 60%, transparent 100%);
        background-size: 50px 100%;
        border: none;
      }
    }
  }
}