.video {
  .container {
    padding: 0 15px;
  }
  &__container {
    padding: 20px 0 35px 0;
  }
  &__title {
    color: #16557d;
    font-family: 'RalewayBold';
  }
  &__content {
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    max-width: 565px;
    margin: 0 auto;
    &:before {
      content: '';
      display: block;
      padding-top: 55%;
    }
    iframe {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}

@media all and(min-width: 576px) {
  .video {
    &__container {
      padding: 35px 0 45px 0;
    }
    .container {
      padding: 0 20px;
    }
  }
}
@media all and(min-width: 1200px) {
  .video__container {
    padding: 60px 0 100px 0;
  }
}
