.warranty {
  background-color: #fff;
  color: #18445d;
  &__container {
    padding: 10px 0 30px 0;
  }
  &__image-container {
    height: 90px;
    margin-bottom: 10px;
  }
  &__image {
    display: block;
    height: 100%;
    width: auto;
    margin: 0 auto;
  }
  &__title {
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'RalewayBold';
  }
  &__text {
    font-size: 14px;
    &:last-child {
      margin: 0;
    }
  }
}

@media all and(min-width: 576px) {
  .warranty__container {
    padding: 0 0 30px 0;
  }
  .warranty__title {
    font-size: 16px;
  }
  .warranty__text {
    font-size: 14px;
  }
  .warranty__image-container {
    height: 100px;
    margin-bottom: 20px;
  }
}
@media all and(min-width: 768px) {
  .warranty__container {
    padding: 15px 0 30px 0;
    display: flex;
    align-items: center;
  }
  .warranty__image-container {
    width: 150px;
    height: auto;
    flex-shrink: 0;
    margin-bottom: 0;
  }
  .warranty__image {
    width: 100%;
    height: auto;
  }
  .warranty__text-container {
    padding-left: 20px;
  }
}
@media all and(min-width: 1200px) {
  .warranty__container {
    padding: 15px 90px 30px 90px;
  }
}