@import "./partials/normalize";
@import "./partials/fonts";

body {
  text-rendering: optimizeSpeed;
  font: 14px 'RalewayRegular', sans-serif;
  min-width: 320px;
  color: #15364b;
  position: relative;
  overflow-x: hidden;
  transition: transform 0.3s;
}
.wrapper {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  &__background {
    background-size: 100% auto;
    background-repeat: repeat;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 1;
  }
}
.body_hidden {
  overflow: hidden;
}
.body_active {
  transform: translateX(230px);
}
.block {
  position: relative;
  z-index: 2;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}
.slick-arrow {
  position: absolute;
  width: 35px;
  height: 35px;
  font-size: 0;
  border: 0;
  background: transparent;
  outline: none;
  padding: 0;
  z-index: 2;
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url('../img/icons/ico-arrow.png') no-repeat center center;
    background-size: 100% 100%;
  }
}
.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
  &:before {
    transform: rotate(180deg);
  }
}
.logo {
  &__link {
    display: block;
    width: 130px;
    margin: 0 auto;
  }
  &__image {
    width: 100%;
    height: auto;
  }
  &__text {
    span {
      background-color: #c0c5c9;
      padding: 2px 0;
      color: #123c5e;
      font-size: 10px;
      display: block;
      text-align: center;
      &:nth-child(1) {
        margin-bottom: 2px;
      }
    }
  }
}
.mobile-button {
  transition: .3s;
  width: 40px;
  height: 28px;
  z-index: 15;
  display: block;
  position: absolute;
  top: 21px;
  left: 20px;
  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 40px;
    left: 0;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    border-radius: 4px;
    background-color: #f2c680;
    transition: .3s;
    &:before,
    &:after {
      display: block;
      content: "";
      height: 4px;
      border-radius: 2px;
      width: 100%;
      background-color: #f2c680;
      position: absolute;
      transition: .3s;
      left: 0;
    }
    &:before {
      top: -12px;
    }
    &:after {
      bottom: -12px;
    }
  }
  &_active {
    span {
      background-color: transparent !important;
      &:before {
        transform: rotate(45deg);
        top: 0px;
      }
      &:after {
        transform: rotate(-45deg);
        bottom: 0px;
      }
    }
  }
}
.overlay {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 4, 7, 0.9);
  z-index: 15;
  display: none;
}
.pacifico {
  font-family: 'Pacifico';
}
.decorate {
  position: relative;
  display: inline-block;
  span {
    position: relative;
    z-index: 2;
  }
  &:after {
    content: '';
    position: relative;
    z-index: 1;
    display: block;
    position: absolute;
    background-repeat: no-repeat !important;
    background-size: 100% auto !important;
    background-position: center bottom !important;
    transform: translateY(10%);
  }
  &_style1 {
    &:after {
      width: 110%;
      left: -5%;
      bottom: 0;
      height: 100%;
      background: url('../img/backgrounds/decor_style1.png');
    }
  }
  &_style2 {
    &:after {
      width: 110%;
      left: -5%;
      bottom: 0;
      height: 100%;
      background: url('../img/backgrounds/decor_style2.png');
      transform: translateY(5%);
    }
  }
  &_style3 {
    &:after {
      width: 110%;
      left: -5%;
      bottom: 0;
      height: 100%;
      background: url('../img/backgrounds/decor_style3.png');
      transform: translateY(5%);
    }
  }
  &_style4 {
    &:after {
      width: 120%;
      left: -10%;
      bottom: 0;
      height: 100%;
      background: url('../img/backgrounds/decor_style4.png');
      transform: translateY(5%);
    }
  }
  &_style5 {
    &:after {
      width: 120%;
      left: -10%;
      bottom: 0;
      height: 100%;
      background: url('../img/backgrounds/decor_style5.png');
      transform: translateY(45%);
    }
  }
  &_style6 {
    &:after {
      width: 110%;
      left: 0%;
      bottom: 0;
      height: 100%;
      background: url('../img/backgrounds/decor_style6.png');
      transform: translateY(25%);
    }
  }
  &_style7 {
    &:after {
      width: 130%;
      left: -15%;
      bottom: 0;
      height: 100%;
      background: url('../img/backgrounds/decor_style7.png');
      transform: translateY(10%);
    }
  }
}
.button {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  background-color: #ed145b;
  border: 2px solid #fff;
  height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 45px;
  padding: 0 40px;
  transition: 0.3s;
  position: relative;
  z-index: 2;
  box-shadow: 0px 0px 25px -5px rgba(60,118,157,1);
  &:hover {
    background-color: #9e093b;
  }
}
.title {
  font-size: 24px;
  font-family: 'RalewayBold';
  display: block;
  text-align: center;
  line-height: 1.1em;
  padding-bottom: 20px;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: none;
  min-width: 320px;
  .number {
    font-size: 14px;
    padding: 20px 0 5px 0;
    text-align: left;
    &__block {
      padding-bottom: 10px;
    }
    &__title {
      padding: 0 0 5px 0;
      display: block;
    }
    &__link {
      text-decoration: none;
      font-size: 26px;
      color: #18445d;
      white-space: nowrap;
    }
  }
  &__container {
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
  }
  &__close-button {
    position: absolute;
    outline: none;
    cursor: pointer;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 100%;
    background-color: #7c7c7c;
    transition: opacity 0.3s;
    padding: 0;
    &:hover {
      opacity: 0.8;
    }
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      background-color: #fff;
      height: 2px;
      width: 13px;
      left: 50%;
      top: 50%;
    }
    &:after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  &__close {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 4, 7, 0.9);
  }
  .form {
    margin: auto;
  }
}
@media all and(min-width: 576px) {
  .title {
    font-size: 28px;
    padding-bottom: 30px;
  }
  .slick-arrow {
    height: 45px;
    width: 45px;
  }
  .container {
    padding: 0 20px;
  }
}
@media all and(min-width: 768px) {
  .mobile-button,
  .phone-button {
    display: none !important;
  }
}
@media all and(min-width: 1200px) {
  .title {
    font-size: 48px;
    padding-bottom: 40px;
  }
  .container {
    padding: 0 15px;
  }
}

@import "./partials/normalize";
@import "./partials/header";
@import "./partials/mobile-nav";
@import "./partials/footer";
@import "./partials/home";
@import "./partials/info";
@import "./partials/catalogue";
@import "./partials/video";
@import "./partials/banner";
@import "./partials/advantages";
@import "./partials/pluses";
@import "./partials/kit";
@import "./partials/order";
@import "./partials/delivery";
@import "./partials/reviews";
@import "./partials/warranty";
@import "./partials/gallery";
@import "./partials/form";


