.advantages.block
  .container
    .advantages__container
      .advantages-slider
        .advantages-slide
          .advantages-slide__image-container
            img(data-src="img/advantages/image1.jpg", alt="").advantages-slide__image.lazy
          .advantages-slide__text-container
            span.advantages-slide__title Главное преимущество - действительно ортопедические коконы
            p.advantages-slide__text В отличие от аналогов, модели DreamWay обладают специальной продуманной конструкцией. Поза малыша в коконе приближена к внутриутробной. Это обеспечивает чувство безопасности и помогает легче адаптироваться к жизни вне животика мамы. Кроме того, тело ребенка в коконе сгруппировано естественным образом, что снижает рефлекс вздрагивания и предотвращает нарушения циклов сна.
        .advantages-slide
          .advantages-slide__image-container
            img(data-src="img/advantages/image2.jpg", alt="").advantages-slide__image.lazy
          .advantages-slide__text-container
            span.advantages-slide__title Специальная площадка для ножек
            p.advantages-slide__text В коконе DreamWay предусмотрена специальная площадка, благодаря которой ножки малыша немного приподнимаются. Такое положение позволяет расслабить животик ребенка, способствует естественному выводу газиков и снижает вероятность возникновения коликов.
        .advantages-slide
          .advantages-slide__image-container
            img(data-src="img/advantages/image3.jpg", alt="").advantages-slide__image.lazy
          .advantages-slide__text-container
            span.advantages-slide__title Небольшой подъем для тела малыша
            p.advantages-slide__text Голова и торс малыша в коконе слегка приподняты. Это позволяет ребенку видеть все, что происходит вокруг него. А значит быстрее познавать окружающий мир и контактировать с ним. Также такое положение способствует выводу пузырьков воздуха, попавших в пищевод во время кормления без дискомфорта для малыша.
        .advantages-slide
          .advantages-slide__image-container
            img(data-src="img/advantages/image4.jpg", alt="").advantages-slide__image.lazy
          .advantages-slide__text-container
            span.advantages-slide__title Полукруглая форма для головки
            p.advantages-slide__text Еще одно сильное отличие от коконов-аналогов - специальная полукруглая площадка под голову. Она позволяет малышу свободно вертеть головой и, в отличие от обычных матрасов, снижает вероятность возникновения синдрома плоской головы (плагиоцефалии).
        .advantages-slide
          .advantages-slide__image-container
            img(data-src="img/advantages/image5.jpg", alt="").advantages-slide__image.lazy
          .advantages-slide__text-container
            span.advantages-slide__title Специальный валик для регулировки размера кокона
            p.advantages-slide__text Модель от DreamWay оборудована специальным валиком с липучкой-фиксатором. С его помощью вы можете регулировать размер кокона по мере взросления малыша. А в определенный момент и вовсе убрать его.


