.advantages.block
  .container
    .advantages__container
      .advantages-slider
        .advantages-slide
          .advantages-slide__image-container
            img(data-src="img/advantages/image1.jpg", alt="").advantages-slide__image.lazy
          .advantages-slide__text-container
            span.advantages-slide__title Главное преимущество - действительно ортопедические коконы
            p.advantages-slide__text В отличие от аналогов, модели DreamWay обладают специальной продуманной конструкцией. Поза малыша в коконе приближена к внутриутробной. Это обеспечивает чувство безопасности и помогает легче адаптироваться к жизни вне животика мамы. Кроме того, тело ребенка в коконе сгруппировано естественным образом, что снижает рефлекс вздрагивания и предотвращает нарушения циклов сна.
        .advantages-slide
          .advantages-slide__image-container
            img(data-src="img/advantages/image2.jpg", alt="").advantages-slide__image.lazy
          .advantages-slide__text-container
            span.advantages-slide__title Главное преимущество - действительно ортопедические коконы
            p.advantages-slide__text В отличие от аналогов, модели DreamWay обладают специальной продуманной конструкцией. Поза малыша в коконе приближена к внутриутробной. Это обеспечивает чувство безопасности и помогает легче адаптироваться к жизни вне животика мамы. Кроме того, тело ребенка в коконе сгруппировано естественным образом, что снижает рефлекс вздрагивания и предотвращает нарушения циклов сна.
        .advantages-slide
          .advantages-slide__image-container
            img(data-src="img/advantages/image3.jpg", alt="").advantages-slide__image.lazy
          .advantages-slide__text-container
            span.advantages-slide__title Главное преимущество - действительно ортопедические коконы
            p.advantages-slide__text В отличие от аналогов, модели DreamWay обладают специальной продуманной конструкцией. Поза малыша в коконе приближена к внутриутробной. Это обеспечивает чувство безопасности и помогает легче адаптироваться к жизни вне животика мамы. Кроме того, тело ребенка в коконе сгруппировано естественным образом, что снижает рефлекс вздрагивания и предотвращает нарушения циклов сна.
        .advantages-slide
          .advantages-slide__image-container
            img(data-src="img/advantages/image4.jpg", alt="").advantages-slide__image.lazy
          .advantages-slide__text-container
            span.advantages-slide__title Главное преимущество - действительно ортопедические коконы
            p.advantages-slide__text В отличие от аналогов, модели DreamWay обладают специальной продуманной конструкцией. Поза малыша в коконе приближена к внутриутробной. Это обеспечивает чувство безопасности и помогает легче адаптироваться к жизни вне животика мамы. Кроме того, тело ребенка в коконе сгруппировано естественным образом, что снижает рефлекс вздрагивания и предотвращает нарушения циклов сна.
        .advantages-slide
          .advantages-slide__image-container
            img(data-src="img/advantages/image5.jpg", alt="").advantages-slide__image.lazy
          .advantages-slide__text-container
            span.advantages-slide__title Главное преимущество - действительно ортопедические коконы
            p.advantages-slide__text В отличие от аналогов, модели DreamWay обладают специальной продуманной конструкцией. Поза малыша в коконе приближена к внутриутробной. Это обеспечивает чувство безопасности и помогает легче адаптироваться к жизни вне животика мамы. Кроме того, тело ребенка в коконе сгруппировано естественным образом, что снижает рефлекс вздрагивания и предотвращает нарушения циклов сна.


