.banner.block
  .container
    .banner__container
      span.banner__text Почему тысячи заботливых мам выбирают коконы
        span.pacifico.decorate.decorate_style6
          span DreamWay
        | <br> для новорожденных?
    