.catalogue.block(id='catalogue')
  .catalogue__background.lazy(data-src="img/backgrounds/background-catalogue.png")
  .container
    .catalogue__container
      span.title.catalogue__title
        span.decorate.decorate_style3 
          span Два уровня комфорта 
        span.decorate.decorate_style4
          span для малыша
      .catalogue__content
        .catalogue-block
          .catalogue-block__container
            .catalogue-block__title-section
              span.catalogue-block__title Кокон для новорожденных DreamWay Ortho 
              span.catalogue-block__sub-title со специальным наполнителем
            .catalogue-block__bottom-section
              .catalogue-block__image-container
                img(data-src="img/catalogue/image1.jpg", alt="").lazy
              .catalogue-block__price-container
                span.catalogue-block__price.decorate.decorate_style5
                  span Новая цена: 4990 р.
                span.catalogue-block__old-price Старая цена: 6200 р.
          .catalogue-block__button-container
            a(href="#").button.catalogue-block__button Заказать
        .catalogue-block
          .catalogue-block__container
            .catalogue-block__title-section
              span.catalogue-block__title Кокон для новорожденных DreamWay  Comfort Memory
              span.catalogue-block__sub-title улучшенный наполнитель с эффектом памяти
            .catalogue-block__bottom-section
              .catalogue-block__image-container
                img(data-src="img/catalogue/image2.jpg", alt="").lazy
              .catalogue-block__price-container
                span.catalogue-block__price.decorate.decorate_style5
                  span Новая цена: 6990 р.
                span.catalogue-block__old-price Старая цена: 8700 р.
          .catalogue-block__button-container
            a(href="#").button.catalogue-block__button Заказать
      