.delivery.block(id='delivery')
  .container
    span.title.delivery__title
        span.decorate.decorate_style7
          span Доставка
    .delivery__container
      .delivery-block
        .delivery-block__image-container
          img(data-src="img/delivery/image1.png", alt="").lazy.delivery-block__image
        .delivery-block__text-container
          span.delivery-block__text Доставка выполняется по всей России Почтой или компанией СДЭК. Стоимость доставки от 250р. По Санкт-Петербургу, Москве, Нижнему Новгороду доставка осуществляется курьером в течение 1-2 дней!
      .delivery-block
        .delivery-block__image-container
          img(data-src="img/delivery/image2.png", alt="").lazy.delivery-block__image
        .delivery-block__text-container
          span.delivery-block__text После отправки Вы получите СМС с трек-номером, по которому можно отследить посылку. Срок доставки занимает от 1 до 7 дней (в зави-симости от региона). Оплата выполняется при получении заказа.