footer.footer.block
  span.footer__background
  .container
    .footer__container
      .logo
        a(href="#").logo__link
          img(src="img/logos/logo.png", alt="logo").logo__image
      .number
        .number__block
          span.number__title Москва
          a(href="tel:88129457878") 8 (812) 945 78 78
        .number__block
          span.number__title С-Петербург
          a(href="tel:84953214518") 8 (495) 321 45 18
      .copy Официальный поставщик товаров для новорожденных в России DreamWay. 2014 - 2019. Все права защищены.
