.gallery
  .container
    .gallery__container
      span.title.gallery__title C каждым днем довольных родителей становится все больше!
      .gallery__content
        .gallery__block
          .gallery__image-container
            img(data-src="img/gallery/photo1.jpg", alt="").lazy.gallery__image
        .gallery__block
          .gallery__image-container
            img(data-src="img/gallery/photo2.jpg", alt="").lazy.gallery__image
        .gallery__block
          .gallery__image-container
            img(data-src="img/gallery/photo3.jpg", alt="").lazy.gallery__image
        .gallery__block
          .gallery__image-container
            img(data-src="img/gallery/photo4.jpg", alt="").lazy.gallery__image
        .gallery__block
          .gallery__image-container
            img(data-src="img/gallery/photo5.jpg", alt="").lazy.gallery__image
        .gallery__block
          .gallery__image-container
            img(data-src="img/gallery/photo6.jpg", alt="").lazy.gallery__image