meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
title DreamWay
meta(name="theme-color" content="")
link(rel="shortcut icon" href="img/favicons/favicon-16x16.png" type="image/x-icon")
//styles for all pages
link(rel="stylesheet" href="styles/libs.min.css")
link(rel="stylesheet" href="styles/common.min.css")