header.header.block
  span.header__stars.lazy(data-src="img/backgrounds/stars.png")
  .container
    .header__container
      .header__section
        .logo
          a(href="#").logo__link
            img(src="img/logos/logo.png", alt="logo").logo__image
          .logo__text
            span ОФИЦИАЛЬНЫЙ ПРЕДСТАВИТЕЛЬ И ПОСТАВЩИК ТОВАРОВ
            span ДЛЯ НОВОРОЖДЕННЫХ С ДОСТАВКОЙ ПО ВСЕЙ РОССИИ
      a(href="#").mobile-button
        span
      a(href="#").phone-button
      
