.home.block
  span.home__background.lazy(data-src="img/backgrounds/background-home.jpg")
  .container
    .home__container
      .home__title 
        h1
          span Ортопедический<br>
          span кокон для<br>
          span новорожденных
        .dream.pacifico.decorate.decorate_style1
          span DreamWay
      .home__section
        .home__button
          a(href="#").button выбрать кокон
        span.home__discount-text Скидка 25% на все коконы до 23.02.2019
      