.info.block(id='info')
  .container
    .info__container
      .info__content
        .info__title
          span.pacifico.decorate.decorate_style2
            span DreamWay 
          | — это товары которые помогают вам заботиться о малышах
        ul.info__list
          li.info__item
            p Кокон для новорожденных представляет собой эргономическое приспособление, помогающее малышу легко перенести период адаптации к окружающему миру.
          li.info__item
            p Период использования с 0 до 4 - 6 мес. в зависимости от активности малыша. DreamWay занимается разработкой и производством товаров премиум-класса для новорожденных.
          li.info__item
            p Вся продукция компании разрабатывается в тесном сотрудничестве с ведущими педиатрами и специалистами в области детского развития. Неудивительно, что множество роддомов и приемных отделений успешно используют ее в своей повседневной работе.
          li.info__item
            p И, конечно, преимущества моделей DreamWay по достоинству оценили сотни тысяч счастливых родителей по всему миру.
          li.info__item
            p В производстве используются только безопасные материалы экологического класса не ниже EP-17. И, прежде чем поступить в продажу, все модели проходят многократные исследования и тестирования самого высокого уровня.
        .info__background1.lazy(data-src='img/backgrounds/background-info.png')