.kit.block
  .container
    .kit__container
      span.title.kit__title Что входит в комплект:
      .kit__content
        .kit-block
          .kit-block__container
            .kit-block__image-container
              img(data-src="img/kit/image1.png", alt="").kit-block__image.lazy
            .kit-block__text-container
              span.kit-block__title Литая эргономичная форма
              span.kit-block__text Особый наполнитель из безопасного гипоаллергенного пенополиуретана.
        .kit-block
          .kit-block__container
            .kit-block__image-container
              img(data-src="img/kit/image2.png", alt="").kit-block__image.lazy
            .kit-block__text-container
              span.kit-block__title Верхний чехол
              span.kit-block__text Декоративный чехол из 100% хлопкового трикотажа.
        .kit-block
          .kit-block__container
            .kit-block__image-container
              img(data-src="img/kit/image3.png", alt="").kit-block__image.lazy
            .kit-block__text-container
              span.kit-block__title Нижний чехол
              span.kit-block__text Мембранная ткань с поверхностью из 100% хлопка. Ткань полностью исключает сквозное промокание.
        .kit-block
          .kit-block__container
            .kit-block__image-container
              img(data-src="img/kit/image4.png", alt="").kit-block__image.lazy
            .kit-block__text-container
              span.kit-block__title Специальный валик
              span.kit-block__text На липучке, благодаря которой можно подстраиваться под рост малыша.
        .kit-block
          .kit-block__container
            .kit-block__image-container
              img(data-src="img/kit/image5.png", alt="").kit-block__image.lazy
            .kit-block__text-container
              span.kit-block__title Поясок для безопасности
              span.kit-block__text Пояс на липучке для безопасной фиксации малыша.
        .kit-block
          .kit-block__container
            .kit-block__image-container
              img(data-src="img/kit/image6.png", alt="").kit-block__image.lazy
            .kit-block__text-container
              span.kit-block__title Сумка-переноска
              span.kit-block__text Сумка-переноска на молнии позволит  удобно хранить и переносить кокон.

