.order.block(id='order')
  span.title.order__title Как сделать заказ?
  .container
    .order__container
      .order-block
        .order-block__image-container
          img(data-src="img/order/image1.png", alt="").order-block__image.lazy
        span.order-block__title Заявка
        span.order-block__text Заполните форму заказа на нашем сайте или позвоните нам по телефону
      .order-block
        .order-block__image-container
          img(data-src="img/order/image2.png", alt="").order-block__image.lazy
        span.order-block__title Звонок
        span.order-block__text Наш менеджер перезвонит для уточнения деталей
      .order-block
        .order-block__image-container
          img(data-src="img/order/image3.png", alt="").order-block__image.lazy
        span.order-block__title Доставка
        span.order-block__text Мы доставим заказ удобным для Вас способом
      .order-block
        .order-block__image-container
          img(data-src="img/order/image4.png", alt="").order-block__image.lazy
        span.order-block__title Получение
        span.order-block__text Оплата происходит при получении курьеру или выбранной службе доставки

