.pluses.block
  .container
    .pluses__container
      span.title.pluses__title Плюсы использования кокона
      ul.pluses__list
        li.pluses__item
          span Напоминает эмбриональную позу. Ребенку в коконе явно удобно.
        li.pluses__item
          span Помогает от коликов.
        li.pluses__item 
          span Ребенок спит в коконе крепче, чем на ровной поверхности.
        li.pluses__item 
          span Можно поставить в общую кровать и не бояться задавить ребенка во сне.
        li.pluses__item 
          span Кокон очень легкий.
        li.pluses__item 
          span Можно использовать как переноску и гамачок во время бодрствования.
        li.pluses__item 
          span Есть удобный чехол-переноска с ручкой.
          