.reviews.block(id='reviews')
  .container
    .reviews__container
      span.title.reviews__title Отзывы
      .reviews-slider
        .reviews-slide
          .reviews-slide__container
            .reviews-slide__section
              .reviews-slide__image-container
                img(data-src="img/reviews/photo1.jpg", alt="").lazy.reviews-slide__image
              .reviews-slide__text-container
                p.reviews-slide__text Не видела таких "люлек", да еще и какая легкая. Не особо дешевая, но зато можно в подарок просить)) А то многие спрашивают, что подарить, а уже голова не варит, что надо, а такой кокон точно пригодится) 
            .reviews-slide__info-container
              span.reviews-slide__name Анна Власова
              span.reviews-slide__info 34 года, Москва
        .reviews-slide
          .reviews-slide__container
            .reviews-slide__section
              .reviews-slide__image-container
                img(data-src="img/reviews/photo2.jpg", alt="").lazy.reviews-slide__image
              .reviews-slide__text-container
                p.reviews-slide__text Долго думали покупать или нет, купили и ни разу не пожалели .Ребенок спал в нем аж до 6 месяцев, очень удобный, сон у ребенка в коконе лучше, чем в обычной кроватке.Всем советую, удобен для переноски в другую комнату, на диван. 
            .reviews-slide__info-container
              span.reviews-slide__name Надежда Кадашова
              span.reviews-slide__info 28 лет, Ульяновск
        .reviews-slide
          .reviews-slide__container
            .reviews-slide__section
              .reviews-slide__image-container
                img(data-src="img/reviews/photo3.jpg", alt="").lazy.reviews-slide__image
              .reviews-slide__text-container
                p.reviews-slide__text Подарок моей подруге, которая родила мне крестника пришелся как нельзя кстати. Она говорит, что вещь просто незаменимая для любой моло-дой мамы. А я рада, что угоди-ла и малышу и его мамочке. 
            .reviews-slide__info-container
              span.reviews-slide__name Дарья Анихина
              span.reviews-slide__info 30 лет, Иркутск
            
