.video.block
  .container
    .video__container
      span.title.video__title Видео-обзор кокона
      .video__content
        iframe.lazy(data-src="https://www.youtube.com/embed/fmJZRt3I9D4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)