.warranty.block
  .container
    .warranty__container
      .warranty__image-container
        img(data-src="img/icons/ico-lock.jpg", alt="").lazy.warranty__image
      .warranty__text-container
        span.warranty__title МЕЖДУНАРОДНАЯ ГАРАНТИЯ КАЧЕСТВА
        p.warranty__text Кокон DreamWay соответствует всем стандартам качества и безопасности. Ведь на них распространяется надежная гарантия в 1 год, которая действует не только в России, но и в странах СНГ и Европы. Перед отправкой мы тщательно проверяем товар на предмет заводского брака и дефектов.
        p.warranty__text Но, мы соблюдаем не только законы, но и человеческие отношения, поэтому при возникновении претензий со стороны покупателя, мы решим проблему в самые короткие сроки.  